<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Profile Update</h1>
      <form id="registrationForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Contact</label>
          <input type="text" class="form-control" id="contact" name="contact" />
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <select
            class="form-control"
            id="department"
            name="department"
            required
          >
            <option value="Operations">Operations</option>
            <option value="Finance">Finance</option>
            <option value="HR">HR</option>
            <option value="Marketing">Marketing</option>
            <option value="Sales">Sales</option>
            <option value="IT">IT</option>
            <option value="Accounting">Accounting</option>
          </select>
        </div>

        <div class="form-group">
          <label for="roleName">Role:</label>
          <select class="form-control" id="roleName" name="roleName">
            <option value="Admin">Admin</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Employee">Employee</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Handle form submission
        document
          .getElementById("registrationForm")
          .addEventListener("submit", function (event) {
            event.preventDefault();
            // Get the cookie value
            var cookieValue = getCookie("loginCookie");
            // Convert cookie value to integer
            var loginId = parseInt(cookieValue);
            // To update userRole
            const roleName = document.getElementById("roleName").value;

            // Prepare data object for employee PUT request
            var data = {
              firstName: document.getElementById("firstName").value,
              lastName: document.getElementById("lastName").value,
              email: document.getElementById("email").value,
              contact: document.getElementById("contact").value,
              department: document.getElementById("department").value,
            };
            // Add cookie value to the request headers
            axios.defaults.headers.common["X-Cookie-Value"] = cookieValue;
            // Send Axios request to update employee
            axios
              .put(`/employees/${loginId}`, JSON.stringify(data), {
                headers: {
                  "Content-Type": "application/json",
                },
              })
              .then(function (response) {
                // Handle success response for employee update
                alert("Profile Update successful!");
                // Prepare data object for userRole PUT request
                const userRoleData = {
                  roleName: roleName,
                };
                // Send Axios request to update user role
                axios
                  .put(`/userroles/${loginId}`, JSON.stringify(userRoleData), {
                    headers: {
                      "Content-Type": "application/json",
                    },
                  })
                  .then(function (response) {
                    // Handle success response for user role update
                    alert("User role and department updated successfully.");
                    // Reset the form
                    document.getElementById("registrationForm").reset();
                  })
                  .catch(function (error) {
                    // Handle error response for user role update
                    alert("Error updating user role and department.");
                    console.error(error);
                  });
              })
              .catch(function (error) {
                // Handle error response for employee update
                alert("Profile Update failed. Please try again.");
                console.error(error);
              });
          });
      });

      // Function to retrieve cookie value by name
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) {
          return parts.pop().split(";").shift();
        }
      }
    </script>
  </body>
</html>
